<template>
    <div class="container">
       <div class="card">
           <div class="card-header">Welcome Home</div>
           <div class="card-body">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, cum dignissimos eos, eum illo laboriosam nulla perferendis perspiciatis sequi sit soluta suscipit tempora totam vel vitae voluptas voluptates. Eaque, nam.
           </div>
       </div>
    </div>
</template>
<script>

    export default {
        name: "home",
        components: {
        },
    }
</script>

<style scoped>

</style>